            /* clases generales  */
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--primary);
    font-family: monospace;
}

.wrapper{
    padding: 0 200px;
}

.bottom-bar{
    width: 12%;
    height: 5px;
    background-color: #ff4a57;
    margin-bottom: 20px;
}
:root{
    --secondary: #212336;
    --primary: #23263a;
    --danger: #ff4a57;
    --danger-dark: #c33842;
    --info: #2b2d41;
    --blue-dark: #393b4c;
}


            /* .navbar */
    /* navbar estilos */
.navbar{
    height: 60px;
    background-color: var(--secondary);
    position: fixed;
    width: 100%;
}
    /* icono menu desplegable */
#check{
    display: none;
}

label svg{
    float: right;
    margin-top: 15px;
    width: 25px;
                        /* hace que no se vea el icono de menu desplegable */
                        display: none;  
}
.checkbox{
    display: inline;
}
    /* titulo navbar  */
.navbar-title{
    font-size: 30px;
    /* font-family: Coolvetica; */
    line-height: 50px;
}  
.navbar-title a:hover{
    color: var(--danger);
    transition: all .2s;
}

.f{
    color: var(--danger);
}
.navbar-title:hover .f{
    color: white !important ;
    transition: all .3s;
}
    /* navbar menu */
nav ul{
    float: right;
}
nav ul li {
    display: inline;
    /* font-family: Coolvetica; */
    text-transform: uppercase;
    padding: 5px;
    line-height: 30px;
    font-size: large;
}
nav a{
    color: white;
    outline: none;
    text-decoration: none;
}
nav ul a:hover {
    color: var(--danger-dark);
    border-bottom: #c33842 2px solid;
    transition: all .2s;
}

.info-grid{
    display: grid;
    grid-template-columns: 1fr 100px;
    /* background-color: #c33842; */
    width: 100%;
    align-items: center;
    padding-top: 160px;
}

.info-title{
    font-size: 50px;
    margin: 0;
}

.info-description{
    font-size: 25px;
    margin-top: 0;
    color: var(--blue-dark);
}
.info-target{
    background-color: var(--danger);
    display: inline-block;
    margin-top: 0;
    padding: 15px;
    font-size: larger;
}

.obj img{
    height: 250px;
    margin-left: 80%;
}


        /* Seccion de cards  */
.skills-title h2{
    font-size: 40px;
    font-weight: 800;
    color: var(--danger);
    margin: 0;
}
.skills{
    padding: 100px 0px;
}

.grid-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
        /* .cards */
.card{
    padding: 25px 20px 20px 20px;
    background-color: var(--blue-dark);
}

.skills svg{
    width: 35px;
    fill: var(--danger);
}

.skills-info h4{
    font-size: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 25px;
    align-items: center;
}

        /* seccion de contacto */
.contact-title{
    font-size: 40px;
    font-weight: 800;
    color: var(--danger);
    margin: 0;
}
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    min-height: 350px;
}

.contact-form input{
    background: var(--blue-dark);
    display: block;
    border: none;
    width: 96%;
    height: 60px;
    margin: 20px 0 20px 0;
    color: var(--secondary) !important;
    font-size: larger;
    font-weight: bold;
    padding: 0 0px 0 20px;
}
.contact-form input::placeholder{
    color: var(--secondary);
    font-weight: bold;
}

.contact-form button{
    margin: 0;
    float: right;
    padding: 18px 25px;
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--danger);
    transition: all .4s;
    border: none;
}
.contact-form button:hover{
    transition: all .4s;
    background-color: var(--danger-dark);
    color: white;
}

.p-footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}